body {
  margin: 0; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.wrapper {
  width: 76%;
  margin: auto; }

header {
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center center;
  position: relative;
  z-index: 50; }

nav {
  height: 60px;
  background-color: rgba(166, 166, 166, 0.9);
  padding-top: 5px; }
  nav .logo {
    width: 250px; }

.menu li {
  float: left; }

.welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
  font-family: "Palanquin"; }
  .welcome-text :first-child {
    margin-top: 70px;
    margin-bottom: 20%; }
  .welcome-text p {
    background-color: rgba(166, 166, 166, 0.9);
    padding: 15px 20px;
    color: #000000; }

.slideshow-section {
  box-sizing: border-box;
  background-color: #ffffff;
  padding-top: 30px;
  position: relative;
  margin: auto; }

.slide {
  display: none; }

.flex {
  display: flex;
  justify-content: space-around; }

.prev, .next {
  cursor: pointer;
  position: absolute;
  margin-top: 90px;
  color: #000000;
  font-weight: bold;
  font-size: 70px;
  transition: 0.6s ease; }

.prev {
  left: 8%; }

.next {
  right: 8%; }

.prev:hover, .next:hover {
  color: #303030; }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffffff;
  border: 1px solid #303030;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #303030; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.slideshow-image {
  float: left; }

.slideshow-text {
  width: 50%;
  text-align: center;
  padding-top: 50px;
  font-size: 16px;
  font-family: "Palanquin";
  font-weight: 100;
  letter-spacing: 0.005em;
  color: #303030; }
  .slideshow-text span {
    display: block;
    line-height: 20px; }

@media screen and (max-width: 768px) {
  nav {
    height: 40px;
    padding-top: 0;
    text-align: center; }
    nav .logo {
      width: 150px; }
  .welcome-text {
    width: 80%; }
    .welcome-text :first-child {
      margin-top: 40px;
      margin-bottom: 25%; }
    .welcome-text p {
      line-height: 18px; } }
